{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        {% for obj1 in ob %}
          <h1>{{ obj1.title }}</h1>
          <p class=" text-muted">{{ obj1.author }} | {{ obj1.created_on }}</p>
          <p class="card-text ">{{ obj1.content | safe }}</p>
          <img alt=" " height="250" src="{{obj1.image.url}}" width="400">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}